*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:#0d1117;
color:white;
overflow:hidden;
}

.navbar{
height:70px;
background:#121824;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
}

.logo{
font-size:24px;
font-weight:700;
}

#search{
width:260px;
padding:12px;
border:none;
border-radius:12px;
background:#1b2233;
color:white;
}

#map{
height:calc(100vh - 70px);
width:100%;
}

.leaflet-popup-content-wrapper{
border-radius:16px;
}
